*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#cf9aff,#95c0ff);
    color: #fff;
    padding-top:5%;
    padding-left: 10%;
}
.container h1 img {
    border-radius: 50px;
    height: 40px;
}
.container h1{
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
}

.container button img{
    width: 35px;
    margin-right:8px;
    border-radius: 50%;
}



.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(#95c0ff,#65ff65);
    color: white;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer;
    
}
.container button:hover{
    background: linear-gradient(#65ff65,#cf9aff);
    color: black;
}

.input-box{
    position:relative;
    width: 100%;
    max-width: 600px;
    min-height: 150px;
    background-color: white;
    color: black;
     padding: 20px;
     margin: 20px 0;
    outline: 0;
    border-radius: 5px;
}

.input-box img{
    width: 30px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

.input-box button{
    width: 30px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}